/INICIACIÓN A LAS HERRAMIENTAS DIGITALESEN EL AULA.pdf
/preguntas.md
/propuestaJM.md
Tema 2 - Canva.docx
Tema 3 - Genially.docx
Tema 4 - Kahoot.docx
Tema X - Recursos.docx
.gitignore
Tema 5 - Otras herramientas.docx
images/duracion_edutubers.png
